@import './scss/config.scss';
@import './scss/loading.scss';
@import './scss/nav.scss';
@import './scss/about.scss';
@import './scss/home.scss';

//all the contents
.hero-contents {
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

//projects section
.projects {
    @include section-config();
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

    //wrapping all the projects, a GRID
    .projects-frame {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: grid;
        grid-template-columns: $grid-side $grid-side $grid-side $grid-side;
        grid-template-rows: $grid-side $grid-side;
        column-gap: $column-gap;
        row-gap: calc(6*#{$column-gap});
        justify-content: center;
        align-items: center;

        //wrapper for each of the project
        .project-wrapper {
            height: 100%;
            width: 100%;

            //config for each project
            .project {
                @include center-elements();
                height: 100%;


                //frame for picture displayed (hide overflow stuff)
                .picture-wrapper {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

                    //descriptions
                    .project-des {
                        @include absolute-center();
                        height: 100%;
                        width: 100%;
                        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);


                        //display bar consists of github link
                        .icon-wrapper {
                            position: absolute;
                            bottom: 0;
                            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

                            h1 {
                                //github text
                                border: none;
                                color: $abs-white;
                                background: linear-gradient(to left, transparent 49%, $abs-black 50%, $abs-black 100%);
                                background-size: 205% 100%;
                                background-position: right;
                                padding: 0.1rem 0.5rem;
                                font-size: 1.5vw;
                                opacity: 0;
                                margin: 0;

                            }
                        }


                        //when hover the description
                        &:hover {
                            opacity: 0.9;

                            .icon-wrapper {
                                h1 {
                                    background-position: left;
                                    opacity: 1;

                                    &:hover {
                                        i {
                                            color: $orange;
                                        }
                                    }
                                }

                            }

                        }
                    }
                }

                //project heading
                h1 {
                    position: relative;
                    width: fit-content;
                    margin: 0;
                    font-family: "Manrope", sans-serif;
                    font-weight: lighter;
                    font-size: 1.9vw;
                    letter-spacing: -1px;
                    align-items: center;
                    border-bottom: solid 3px white;
                    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                    cursor: pointer;

                    &:hover {
                        border-color: $abs-black;

                        i {
                            color: $orange;
                        }
                    }
                }

            }

        }

        // //each project customization
        // #wannaType {

        //     grid-column: 1 / span 2;
        //     grid-row: 1 / span 2;

        //     .picture-wrapper {
        //         background-image: url("./wannatype.png");
        //         background-position: center;
        //         background-size: cover;
        //     }

        // }

        // #hcmusrobotics {

        //     grid-column: 3 / span 2;
        //     grid-row: 1 / 2;

        //     .picture-wrapper {
        //         background-image: url("./hcmus.png");
        //         background-position: 70% 10%;
        //         background-size: 140%;
        //     }
        // }

        // #issuetracker {
        //     .picture-wrapper {
        //         box-sizing: border-box;
        //         background-image: url("./issue.png");
        //         background-position: center;
        //         background-size: 120%;
        //     }
        // }

        // #lawsofmotion {
        //     .picture-wrapper {
        //         background-image: url("./laws.png");
        //         background-position: center;
        //         background-size: cover;
        //     }
        // }

        // #covidtracker {
        //     background-image: url("./covidtracker.JPG");
        //     // transform: rotate(15deg) skew(-20deg) translateX(-30%) translateY(-8%);
        // }

    }



}

//contact section
.contacts {
    @include section-config();
    @include center-parents();
    min-height: 50vh;
    background: transparent;

    //main frame of the contents
    .contact-wrapper {
        margin: auto;
        width: calc(4*#{$grid-side} + 4*#{$column-gap}); //to align with the project;
        color: $abs-black;
        position: relative;
        text-align: left;

        //let's work together
        h1 {
            font-weight: lighter;
            font-size: calc(0.6*#{$heading});
            font-family: "Suranna", serif;
            margin: 0;

            span {
                color: $orange;
            }
        }

        //link to the contact buttons
        .link-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: start;

            a {
                text-decoration: none;
                color: $abs-black;
                font-size: $med-text;
                margin-right: $normal-text;
                border-bottom: 3px solid $abs-white;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

                &:hover {
                    border-color: $abs-black;

                    i {
                        color: $orange;
                    }
                }
            }
        }

        //copyright
        p {
            color: $dark-grey;
            margin: 2rem auto;
        }
    }
}

//animations for Transition Group
.merge-enter {
    opacity: 0;
    transform: translateX(-2rem);
    @include absolute-center();
    color: $orange !important;
}

.merge-enter.merge-enter-active {
    opacity: 1;
    transform: scale(1, 1);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.merge-exit {
    opacity: 1;
    transform: scale(1, 1);
    @include absolute-center();
}

.merge-exit.merge-exit-active {
    opacity: 0;
    transform: scale(0, 0);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

//aos custom animations
[data-aos="pop-up"] {
    opacity: 0;
    transform: translateY(0);
    transition-property: all;

    &.aos-animate {
        transform: translateY(-30%);
        opacity: 1;
    }
}

[data-aos="color-reveal"] {
    transition-property: all;
    background-position: top !important;

    &.aos-animate {
        background-position: bottom !important;
    }
}

//////// MEDIA QUERIES ///////////////
@media (max-width: 1200px) {
    .slide-menu {
        //make burger menu full size
        width: 100vw;
    }

    .home {
        .heading-wrapper {
            h1 {
                font-size: calc(0.5*#{$heading});
            }
        }
    }

    .about {
        flex-direction: column;
        padding-top: $top;


        .profile-picture {
            position: relative;
            height: 30vh;
            width: $section-size-mobile !important; //match with description;

            //hide the frames behind profile pic
            div {
                display: none;
            }
        }


        .profile-description-wrapper {
            .profile-description {
                width: $section-size-mobile;
                margin-top: 0;

                p {
                    font-size: calc(1.2*#{$normal_text});
                }

                .stack-icon {
                    width: 100%;

                    //the icon wrappers should have some spacings now
                    p {
                        font-size: $normal-text;
                    }
                }
            }
        }
    }

    .projects {
        .projects-frame {
            width: $section-size-mobile;
            grid-template-columns: $section-size-mobile;
            grid-template-rows: 18vh 18vh 18vh 18vh;
            row-gap: 5vh;

            .project-wrapper {
                .project {
                    .picture-wrapper {
                        .project-des {
                            .icon-wrapper {
                                h1 {
                                    font-size: calc(1.8*#{$normal-text});
                                }
                            }
                        }
                    }

                }
            }
        }

        .project-wrapper {
            @include medium-frame();
            grid-column: auto !important;
            grid-row: auto !important;

            .project {
                h1.project-title {
                    font-size: calc(1.8*#{$normal-text});
                }
            }

        }

    }

    .contacts {
        .contact-wrapper {
            width: $section-size-mobile !important;
        }
    }
}

//mobile users
@media screen and (max-width: 586px) {
    .nav {
        .glasses {
            transform: scale(0.6, 0.6);
        }
    }

    .home {
        .heading-wrapper {
            h1 {
                font-size: calc(0.4*#{$heading});
            }
        }
    }

    .about {
        .picture-wrapper {
            height: 35vh;
        }

        .profile-description-wrapper {
            height: 65vh;

        }

        p {
            font-size: calc(1.1*#{$small-text}) !important;
        }

    }

    .projects {
        h1 {
            font-size: calc(1.5*#{$normal-text}) !important;

        }

    }

    .contacts {
        .contact-wrapper {
            h1 {
                font-size: calc(0.9*#{$big-text});
            }
        }
    }

    //aos custom animations
    [data-aos="pop-up"] {
        opacity: 0;
        transform: translateY(0);
        transition-property: all;

        &.aos-animate {
            transform: translateY(-10%);
            opacity: 1;
        }
    }
}